[Unit]
Description="Thinarch thin-client server"
Requires=tftpd.socket tftpd.service rpc-mountd rpc-idmapd
Wants=dhcpd4.service 
PropagatesReloadTo=dhcpd4.service tftpd.socket tftpd.service rpc-mountd rpc-idmapd
DefaultDependencies=true
After=network.target

[Install]
WantedBy=multi-user.target
